<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Binary Multiplication Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/universal.css" rel="stylesheet" />
    <link href="css/calculator.css" rel="stylesheet" />
    <link rel="shortcut icon" href ="/images/Logo.svg"/>
    <script th:src="@{/js/calculator.js}" type="text/javascript"></script>
  </head>
  <body>
    <nav>
      <img id="logo" th:src="@{images/Logo.svg}" src="../images/Logo.svg" />
      <h3>Binary Multiplication Calculator</h3>
    </nav>
    <section>
      <span id="title">Binary Multiplication Calculator</span>
      <form name="calculatorForm" id="calculatorForm" th:object="${input}" method="post" onsubmit=" return validateForm(); ">
        <div class="operand-input">
          <div class="input">
            <label for="multiplicand">Multiplicand</label>
            <input
              type="number"
              id="multiplicand"
              name="multiplicand"
              autocomplete="off"
              required
            />
          </div>
          <span id="multiplication-operator">X</span>
          <div class="input">
            <label for="multiplier">Multiplier</label>
            <input
              type="number"
              id="multiplier"
              name="multiplier"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="type-input">
          <div class="radio">
            <label>Input Type</label>
            <div class="radio__input">
              <input
                type="radio"
                id="decimal"
                name="inputType"
                value="DECIMAL"
                required
              />
              <label for="decimal">Decimal</label>
              <input type="radio" id="binary" name="inputType" value="BINARY" />
              <label for="binary">Binary</label>
            </div>
          </div>
          <div class="radio">
            <label>Method</label>
            <div class="radio__input">
              <input
                type="radio"
                id="pencil-and-paper"
                name="method"
                value="0"
                required
              />
              <label for="pencil-and-paper">Pencil-and-Paper</label>
              <input type="radio" id="booth" name="method" value="1" />
              <label for="booth">Booth's</label>
              <input type="radio" id="extended-booth" name="method" value="2" />
              <label for="extended-booth">Extended Booth's</label>
            </div>
          </div>
        </div>
        <div class="button-input">
<!--          <span th:if="${error}" th:text="${error.text}"/>-->
          <input type="submit" id="submit" value="Solve" />
        </div>
      </form>
    </section>
  </body>
</html>
